*{
    height: auto;
    width: fit-content;
    margin-block: 5px;
}
.search{
    background-color:whitesmoke;
    color:rgb(45, 208, 208) ;
    border-radius: 20px;
    border: 2px rgb(45, 208, 208);
    border-style: groove;
}
.plus{
    background-color: aqua;
    color: aliceblue;
    border-radius:50%;
    border:none;
}
.account{
background-color:blue ;
color:white;
border: 2px solid;
box-shadow:3px 3px black
}

   