*{
    font-family: cursive;
    color: antiquewhite;
}
.nav{
background-color: rgb(56, 54, 54);
width: 1000px;
height: 100px;
padding: 10px;
margin: 0 auto;
border: black solid;
display: flex;
justify-content: space-between;
}
.nav-title{
    text-align: right;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    width:500px  
}
.btn{
    background-color: rgb(130, 179, 247);
    border: solid black;
    color: aliceblue;
    width: 100px;
    height: 40;
    box-shadow: 0px 10px 10px 0px black ;
}